<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link href="~/Content/Stylesheets/justified-nav.css" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">

        <div class="masthead">
            <h3 class="text-muted">Weather</h3>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h4>Current Weather at Original Software</h4>
                @RenderBody()
            </div>
            <div class="col-lg-6">
                <h4>Local Weather where you are</h4>
                <p id="postcodeLookupError" style="display:none;" class="alert alert-warning"></p>
                <div id="postcodeLookup" style="display:none;">
                    <p>Lookup using your postcode</p>
                    <input type="text" placeholder="Postcode" />
                    <button type="button">Lookup</button>
                </div>
            </div>
        </div>

        
        <!-- Site footer -->
        <div class=" footer">
            <p>&copy; Tom Wire @DateTime.Now.Year</p>
        </div>

    </div> <!-- /container -->
    <script src="~/Scripts/localWeather.js">
    </script>

</body>
</html>
